html { font-size: 62.5% }

body {
  font-family: "Neuton", serif;
  font-size: 2.4rem;
  background: #E9EAEB;
  color: #36373A;
  padding-top: 50px;
  padding-bottom: 100px;
  line-height: 1.65;
}


body * + * {
  margin-top: 1em;
}

header * + * {
	margin-top: .5em;
}

header {
  line-height: 1;
}



h1 { font-size: 3.6rem }
h2 { font-size: 1.7rem }

a {
  text-decoration: none;
}
a:hover { color: #202C42 }
